<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>topicname</key>
		<string>Top Stories</string>
		<key>icon</key>
		<string>topStories</string>
		<key>selectedicon</key>
		<string>selected_topStories</string>
	</dict>
    <dict>
        <key>topicname</key>
        <string>Latest Stories</string>
        <key>icon</key>
        <string>lastest</string>
        <key>selectedicon</key>
        <string>selected_lastest</string>
    </dict>
    <dict>
        <key>topicname</key>
        <string>News</string>
        <key>icon</key>
        <string>news</string>
        <key>selectedicon</key>
        <string>selected_news</string>
    </dict>
    <dict>
        <key>topicname</key>
        <string>Technology</string>
        <key>icon</key>
        <string>technology</string>
        <key>selectedicon</key>
        <string>selected_technology</string>
    </dict>
    <dict>
        <key>topicname</key>
        <string>Bussiness</string>
        <key>icon</key>
        <string>bussiness</string>
        <key>selectedicon</key>
        <string>selected_bussiness</string>
    </dict>
    <dict>
        <key>topicname</key>
        <string>Sports</string>
        <key>icon</key>
        <string>sports</string>
        <key>selectedicon</key>
        <string>selected_sports</string>
    </dict>
    <dict>
        <key>topicname</key>
        <string>Entertainment</string>
        <key>icon</key>
        <string>entertainment</string>
        <key>selectedicon</key>
        <string>selected_entertainment</string>
    </dict>
    <dict>
        <key>topicname</key>
        <string>Lifestyle</string>
        <key>icon</key>
        <string>lifestyle</string>
        <key>selectedicon</key>
        <string>selected_lifestyle</string>
    </dict>
    <dict>
        <key>topicname</key>
        <string>Auto</string>
        <key>icon</key>
        <string>auto</string>
        <key>selectedicon</key>
        <string>selected_auto</string>
    </dict>
    <dict>
        <key>topicname</key>
        <string>Market</string>
        <key>icon</key>
        <string>market</string>
        <key>selectedicon</key>
        <string>market</string>
    </dict>
    <dict>
        <key>topicname</key>
        <string>Weather</string>
        <key>icon</key>
        <string>weather</string>
        <key>selectedicon</key>
        <string>selected_weather</string>
    </dict>
</array>
</plist>
